body{
    /* position: relative; */
    background-color: rgb(255, 94, 0);
}
.wrapper {
    /* display: grid; */
    /* position: relative; */
    /* grid-template-rows: repeat(2, 1fr); */
  }

.panel {
    text-align: center;
    margin: 1%;
    padding: 5%;
  }

.upper-panel {
    text-align: right;
    margin: 1%;
    padding: 1%;
}

.placeholder-panel {
    width: 100%;
    text-align: center;
  }

input {
    width: 200px;
    height: 30px;
}

.input-field {
    margin: 5px;
}

.linear-input-field {
    display: inline-block;
    /* width: 60%; */
    /* padding: 10px; */
}

.simple-button {
    display: inline-block;
    height: 30px;
}